body {
    background-color: black;
}

@keyframes changeCol {
    100% {
        color: rgb(239, 31, 69);
    }
    95% {
        color: rgba(239, 31, 69,0.6);
    }
    90% {
        color: rgb(239, 31, 69);
    }
    0% {
        color: rgb(255, 255, 255);
    }
    10% {
        color: rgb(212, 211, 211);
    }
    25% {
        color: rgb(160, 160, 160);
    }
    40% {
        color: rgb(133, 133, 133);
    }
    55% {
        color: rgb(133, 133, 133);
    }
    70% {
        color: rgb(91, 91, 91);
    }
    85% {
        color: rgb(60, 60, 60);
    }
}

@keyframes blink {
    0% {
        color: rgb(255, 255, 255);
    }
    45% {
        color: rgba(233, 40, 75, 0.7);
    }
    50% {
        color: rgb(239, 31, 69);
    }
    55% {
        color: rgba(233, 40, 75, 0.7);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}

@keyframes rotatebr {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateborder {
    0% {
        --ang: 0deg;
    }
    25% {
        --ang: 90deg;
    }
    50% {
        --ang: 180deg;
    }
    75% {
        --ang: 270deg;
    }
    100% {
        --ang: 360deg;
    }
}

#main {
    color: rgb(239, 31, 69);
    font-family: "Funnel Display", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    animation-name: changeCol;
    animation-duration: 2s;
    text-align: center;
    font-size: 7em;
    /* text-decoration: line-through; */
    width: 100%;
    font-weight: 500;
    z-index: 100;
    
}
@keyframes raining {
    0% {
        top:0%;
    }
    50% {
        top:80%;
    }
    100% {
        top:0%;
    }
}
@keyframes fadeAway {
    0% {
        
        opacity:100%;
    }
    25% {
        opacity:75%;
    }
    50% {
        opacity:25%;
    }
    100% {
        opacity:0%;
    }
}
@keyframes fadeInto {
    0% {
        background-color: rgb(239, 31, 69);
        visibility: show;
        opacity:0%;
    }
    25% {
        background-color: rgba(239, 31, 69,0.6);
        visibility: show;
        opacity:25%;
    }
    50% {
        background-color: rgba(239, 31, 69,0.2);
        visibility: show;
        opacity:50%;
    }
    100% {
        background-color: rgba(210, 205, 205, 0.7);
        visibility: show;
        opacity:100%;
    }
}
@keyframes fadeIntoNoBG {
    0% {
        visibility: show;
        opacity:0%;
    }
    25% {
        visibility: show;
        opacity:25%;
    }
    50% {
        visibility: show;
        opacity:50%;
    }
    100% {
        visibility: show;
        opacity:100%;
    }
}
#rain {
    background-color:rgb(239, 31, 69);
    
    width:99.5%;
    height:20%;
    opacity:20%;
    position:absolute;
    animation-duration:40s;
    animation-name: raining;
    animation-iteration-count: infinite;
    z-index: -1;
    box-sizing: border-box;
}
@keyframes rainingside {
    0% {
        left:0%;
    }
    50% {
        left:80%;
    }
    100% {
        left:0%;
    }
}
#rainside {
    background-color:rgb(239, 31, 69);
    top:0%;
    height:100%;
    width:20%;
    opacity:20%;
    position:absolute;
    animation-duration:10s;
    animation-name: rainingside;
    animation-iteration-count: infinite;
    z-index: -2;
    box-sizing: border-box;
}


@property --ang {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#playbutton::after,
#playbutton::before {
    z-index: -1;
    background-image: conic-gradient(from var(--ang), transparent 50%, rgb(239, 31, 69) 25%, black 25%);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    padding: 3px;
    animation-name: rotateborder;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#playbutton::before {
    filter: blur(0.5em);
    opacity: 0.4;
}
#playbutton:hover {
    transform:translateY(-2px);
}
#playbutton::before:active {
    transform: translateY(-2px);
    color: black;
    animation-play-state: paused;
}

#playbutton:active {
    background-color: rgb(239, 31, 69);
    border-radius: 20px;
    box-shadow: 0 0 20px;
    animation-play-state: paused;
    opacity: 0.75;
    z-index: inherit;
}

p {
    font-weight: bold;
}

.hidden {
    /*visibility: hidden;*/
    display: none;
}
#mainDiv {
    position: relative;
}
#maingamediv {
    display: grid;
    width:80%;
    height:30%;
    background-color: rgba(210, 205, 205, 0.7);
    margin-left:10%;
    border-radius: 5px;
    opacity:0%;
    position: absolute;
    top:35vh;
}
#scorediv {
    display: grid;
    width:80%;
    height:30%;
    background-color: black;
    margin-left:10%;
    border-radius: 5px;
    opacity:0%;
    position: absolute;
    top:5vh;
}
#endgamediv {
    display: grid;
    width:80%;
    height:30%;
    background-color: black;
    margin-left:10%;
    border-radius: 5px;
    opacity:0%;
    position: absolute;
    top:35vh;
    text-align: center;
}
.endgametext {
    color:white;
    font-family: "Funnel Display", monospace;
    position: relative;
    margin-bottom:5px;
    display: block; 
    text-shadow: 0 0 4px beige;
    font-size: 1.25em;
}
.endgametextstats {
    color:white;
    font-family: "Funnel Display", monospace;
    position: relative;
    display: block; 
}
#backtomainbutton {
    background-color: black;
    border-color: white;
    border-radius: 2px;
    color:white;
    width:10vw;
    left:35vw;
    margin-top:20px;
    font-family: "Funnel Display", monospace;
    position: relative;
    display: block;
    text-shadow: 0 0 4px beige;
}

#settingDiv {
    position: absolute;
    z-index: 100;
    left:45vw;
}
.sliderText {
    color:white;
    font-family: "Funnel Display", monospace;
    position: relative;
    margin:auto;
    display: block;   
}
.sliderValueText {
    color:white;
    font-family: "Funnel Display", monospace;
    position: relative;
    margin-top:0;
    margin-bottom:20px;
    display: block; 
}
#playbutton {
    font-weight: bold;
    font-family: monospace;
    font-size: 1.75em;
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    letter-spacing: 2.5px;
    border-color: azure;
    position: relative;
    margin-top:3vh;
    margin-bottom: 3vh;
}

.scoredivtext {
    font-family: "Funnel Display", monospace;
    color:white;
}
#endgame {
    display: grid;
    width:80%;
    height:30%;
    background-color: black;
    margin-left:10%;
    border-radius: 5px;
    opacity:0%;
    position: absolute;
    top:70vh;
}
.optionSlider {
    -webkit-appearance: none;
    appearance: none;
    width:10vw;
    height:15px;
    cursor:grab;
    color:white;
    background: rgba(255,255,255,0.5);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin:auto;
    display: block;
}
.optionSlider:hover {
    background: rgba(255,255,255,0.8);
    opacity:1;
}
.optionSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height:15px;
    background: rgb(239, 31, 69);
    cursor: grab;
}
.optionSlider::-moz-range-thumb {
    width: 1vw;
    height:15px;
    background: rgb(239, 31, 69);
    cursor: grab;
}

#textDisplayed, #writeField {
    grid-column: 1;
    grid-row: 1;
}
#writeField {
    z-index: 100;
    opacity: 80%;
    margin-left:5px;
    font-family: monospace;
    font-size:2.5em;
    color:white;
    text-shadow: 0 0 3px #FFFF;
    accent-color: white;
    caret-color: white;
    word-wrap: break-word;
    white-space: pre-line;
    text-wrap:wrap;
    
}
#textDisplayed {
    z-index:99;
    margin-left:5px;
    font-family: monospace;
    font-size:2.5em;
    color:white;
    text-shadow: 0 0 3px #FFFF;
    opacity:50%;
}
